@import url('https://fonts.googleapis.com/css2?family=Caladea&family=Roboto+Serif:opsz,wght@8..144,300&family=Source+Serif+4:opsz@8..60&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  /* Esto es obligatorio ponerlo*/
    font-family: 'Roboto Serif', serif;
}

:root{
    --color1: #f2cbcc; 
    --color2: #e8a0a1;
    --color3: #809e82;
    --color4: #ba6664;
    --color5: #324f4d;

}


  /* Aca vamos a volver a empezar*/


  /* HEADER*/


  .header{
    background-color: var(--color1);
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;


  }
  
  .header-logo{

    padding-left: 16px;

  }


  .header-logo img{
    block-size: auto;
    inline-size: 200px;

  }

  .header .navbar{
    text-align: end;
  }

  .header .navbar .nav-link{
    font-family: 'Roboto Serif', serif;
    font-weight: bold;
    margin: 8px;
  }
  .header .navbar .nav-link.active{
    text-decoration: underline;
    text-underline-offset: 4px;
    
  }

  .header .navbar .container-fluid .offcanvas{
    background-color: var(--color1);
  }





  /*FOOTER*/
  
  footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--color3);
    height: max-content;
    color: rgb(43, 43, 43);
  }

  .footer-logo{
    height: 150px;
    margin: 20px;
  }


  footer a img{
    height: 50px;
  }
  footer a{
    margin: 20px;
  }

  footer h2{
    margin: 20px;
  }

  .logocasamientos{
    border-radius: 10px;
  }


  /*MAIN*/ 

  /*Hero*/

.hero{
  height: 400px;
  width: 100%;
  background-image: url(../img/hero.background.jpg);
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  }

  
  .hero h2{
    text-align: center;
    padding: 50px;
    font-size: 30px;
  }
  
  .hero a{
    margin-top: 70px;       
    
  }
  
  .hero.hero-cursos{
    height: 500px;
    background-image: url(../img/hero-cursos.jpg);
    background-size: cover;
    background-attachment: initial;
    background-position-y: 26%;
    background-position-x: center;
    background-repeat: no-repeat;
    color: white;
    font-size: large;
    text-align: center;
  }


/*Sobre mi*/

.sobre-mi-container{
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.sobre-mi-container img{
  max-width: 900px;
  border: 10px none;
  border-radius: 30px;
} 




.description h2{
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.description p{
  padding: 30px;
  font-size: 20px;
}


/*MAIN CARDS*/

.main-cards{
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
  padding: 30px;
}

.main-cards div {
  width: 500px; 
  height: 650px;
  padding: 20px;
  border: 10px none;
  border-radius: 15px;
  display: flex;
  flex-direction: column; 
  justify-content: end; 
  align-items: center;
  margin: 20px;
}

.main-cards div:nth-child(1){
  background-image: url(../img/novia-main.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
}
.main-cards div:nth-child(2){
  background-image: url(../img/portf-main.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}


/*Botones*/

.button {            /* Afectar a todos los botones*/
  color: black;
  text-decoration: none;
  text-align: center;
  font-size: large;
  background-color: var(--color2);
  border: 2px none;
  border-radius: 5px;
  height: 30px;
  width: 200px;
  padding-top: 4px;
  transition: 40ms;
  
}

.button:hover{
  background-color: var(--color1);
  transform: scale(1.15);
}

.button-cursos {            /* Afectar a todos los botones*/
  color: black;
  text-decoration: none;
  text-align: center;
  font-size: large;
  background-color: var(--color2);
  border: 2px none;
  border-radius: 5px;
  height: 35px;
  width: 300px;
  padding-top: 4px;
  transition: 40ms;
  
}

.button-cursos:hover{
  background-color: var(--color1);
  transform: scale(1.15);
}


/* Formulario*/       

form {
  /* Centrar el formulario en la página */
  padding-top: 40px;
  width: 100%;
  height: 800px;
  /* Esquema del formulario */
  padding: 30px;
}

form ul{
  list-style: none;
  margin: 0PX auto;
  height: 700px;
  width: 900px;
  padding: 50px;
  border: 3px solid var(--color1);
  border-radius: 20px;
  padding: 30px;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

form ul li {
  display: flex;
  width: 100%;
  height: 40px;
  margin: 10px;
}

form ul li button{
  margin-top: 60px;
}

label {
  display: inline-block;
  width: 200px;
  text-align: left;
}

input,
textarea {
  font: 1em sans-serif;
  justify-content: end;
  width: 700px;
  box-sizing: border-box;
  border: 3px solid var(--color2);
  border-radius: 5px;
}


textarea {
  vertical-align: top;

  height: 5em;
}

.button li{
  margin-bottom: 50px;
}

.button button {
  background-color: var(--color2);
  border: 3px inset var(--color4);
  border-radius: 5px;
  color: #000;
  height: 30px;
  width: 120px;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}


.main-form h2{
  text-align: center;
  padding: 40px;
}

.main-form p{
  padding: 50px 10px 50px 100px;
  text-align: justify;
}

/*Galerias Novias y Portfolio*/   /*GRID*/

.img-container{
  display: grid;
  grid-template-rows: repeat(3, 800px);
  grid-template-columns: repeat(3,1fr);
  gap: 30px;
  margin: 30px;
}

/*.img-container div{
  width: 100%;
  height: 100%;
  
}*/

.img-container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 30px none;
  border-radius: 20px;
  
}

.move-left{
  object-position: right;
}

.move-right{
  object-position: left;
}


.button-container{          /*Contenedor botones de galerias*/
  display: flex;
  justify-content: center;
  padding: 40px;
}


/*CURSOS*/

.cursos-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  padding: 30px;
  height: max-content;
}

.div-cursos{
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  padding: 20px;
  margin: 15px 0px;
  border: 6px none;
  border-radius: 15px;
}

.div-cursos:nth-child(1){
  background-image: url(../img/portf5.png);
  background-size: cover;
  background-position: top;
}

.div-cursos:nth-child(2){
  background-image: url(../img/delineado.jpg);
  background-size: cover;
  background-position: right;
}

.div-cursos:nth-child(3){
  background-image: url(../img/portf4.png);
  background-size: cover;
  background-position: right;
}


/*RESPONSIVE DESIGN*/     /*A 1330 para que no se rompa*/

@media screen and (max-width: 1330px){

  .sobre-mi-container img{
    max-width: 600px;
  } 

}

 /*RESPONSIVE DESIGN*/     /*A 980 para que no se rompa*/

 @media screen and (max-width: 1120px){



  footer{
    flex-wrap: wrap;
  }

 }

 /*RESPONSIVE DESIGN*/     /*A 768 para mobile*/

 @media screen and (max-width: 768px){
  

    /*Hero*/    /*Responsive*/

.hero{
  height: 200px;
  width: 100%;
  background-image: url(../img/hero.background.jpg);
  background-position: bottom left;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;

  }

.hero h2{
  text-align: center;
  padding: 30px;
  font-size: 20px;
}

.hero a{
  margin-top: 30px;       

}

/*Sobre mi*/  /*Responsive*/

.sobre-mi-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  padding: 0px;
}

.sobre-mi-container img{
  width: 100%;                /*DUDA: esta bien lo que hice aca? poner width de 100% para que la imagen se me adapte al ancho de la pantalla*/
  border: 0px none;
  border-radius: 0px;
  overflow: hidden;     
} 




.description h2{
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.description p{
  padding: 7px;
  font-size: 20px;
}


/*MAIN CARDS*/     /*Responsive main cards*/

.main-cards{
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 0px;
}

.main-cards div {
  width: 100%; 
  height: 400px;
  padding: 0px;
  border-radius: 0px;
  margin: 15px 0px;
}


/*FOOTER*/        /*Responsive*/
  
footer{
  display: flex;
  flex-direction: column;
  height: max-content;
  /*padding: 10px;*/
  color: rgb(43, 43, 43);
  width: 100%;
}

.footer-logo{
  height: 100px;
}


footer a img{
  height: 50px;

}
footer h2{
  font-size: medium;
}





  
}

