/*ROOT*/
@import url('https://fonts.googleapis.com/css2?family=Caladea&family=Roboto+Serif:opsz,wght@8..144,300&family=Source+Serif+4:opsz@8..60&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  /* Esto es obligatorio ponerlo*/
    font-family: 'Roboto Serif', serif;
}

:root{
    --color1: #f2cbcc; 
    --color2: #e8a0a1;
    --color3: #809e82;
    --color4: #ba6664;
    --color5: #324f4d;
    --color6: #eeeeeed8;

}